body{

    .clearfix{
        overflow: auto;
    }

    .wrapper{
        .content-wrapper{
            .content{
                .dataTable-form{
                    .modal{
                        form{
                            .styled-checkbox{
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0;
                                padding: 0;
                                width: 18px;
                                height: 18px;
                                background: rgba(255, 255, 255, 0.7) url(../img/minimal.png) no-repeat;
                                border: none;
                                cursor: pointer;
                                background-position: 0 0;

                                &.checked{
                                    background-position: -40px 0;

                                }

                                input[type=checkbox]{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
